* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #1d2671, #c33764);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.player {
    width: 350px;
    background: #111;
    color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.song-info {
    text-align: center;
    margin-bottom: 20px;
}

.song-info h2 {
    font-size: 20px;
    margin-bottom: 8px 0;
}

.song-info p {
    font-size: 14px;
    margin: 0;
    color: #aaa;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

.progress {
    flex: 1;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

.time {
    font-size: 12px;
    color: #ccc;
    width: 40px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px 0;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.controls button:hover {
    transform: scale(1.15);
    color: rgb(255, 98, 195);
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.playlist {
    margin-top: 15px;
    max-height: 140px;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #333;
}

.playlist li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    font-size: 14px;
}

.playlist li.active {
    background: rgb(202, 75, 153);
    color: black;
    font-weight: bold;
}

.playlist li:hover {
    background: #222;
}