* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f1a, #050507);
  color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(10, 10, 20, 0.7);
  backdrop-filter: blur(12px);
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.logo span {
  color: rgb(224, 77, 24);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-size: 0.95rem;
  position: relative;
  transition: 0.3s;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient(45deg, rgb(255, 95, 37), rgb(216, 25, 114));
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li a:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-btn span {
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}

@media (max-width: 850px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(10, 10, 20, 0.95);
    flex-direction: column;
    align-items: center;
    gap: 25px;
    transition: 0.4s ease;
  }

  .nav-links.active {
    height: 220px;
    padding: 30px 0;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
}

.caption {
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  padding: 12px;
  color: rgb(192, 192, 192);
}

.carousel-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.carousel img {
  width: 420px;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: opacity 0.5s ease;
  transform: 0.5s ease;
}

.carousel button {
  font-size: 40px;
  background: transparent;
  border: none;
  color: white;

  touch-action: manipulation;
  cursor: pointer;
}


.category-title {
  text-align: center;
  font-size: 2.2rem;
  margin: 60px 0 20px;
}

.category-buttons {
  text-align: center;
  margin-bottom: 30px;
}

.category-buttons button {
  padding: 12px 24px;
  margin: 6px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.category-buttons button:hover,
.category-buttons .active-cat {
  background: linear-gradient(45deg, rgb(255, 100, 43), rgb(255, 0, 106));
  box-shadow: 0 0 15px rgb(110, 0, 110);
}

.category-gallery {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 22px;
}

.cat-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  transition: 0.4s ease;
  cursor: pointer;
}

.cat-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.cat-card p {
  padding: 15px;
  text-align: center;
  font-size: 0.95rem;
  color: rgb(204, 204, 204);
  letter-spacing: 0.5px;
}

.cat-card:hover {
  transform: translateY(-6px);
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(63, 0, 60, 0.815);
}

.cat-card:hover img {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.904);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  width: 80%;
  height: 85vh;
  object-fit: contain;
  border-radius: 12px;
}

#close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}

@media(max-width:600px) {
  .carousel img {
    width: 90%;
    height: 200px;
  }
}

.footer {
  margin-top: 80px;
  padding: 30px 15px;
  text-align: center;
  background: rgba(10, 10, 20, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(10px);
}

.footer p {
  font-size: 1rem;
  color: rgb(182, 182, 182);
  margin-bottom: 15px;
}

.footer span {
  color: rgb(224, 82, 30);
  font-weight: 600;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons a {
  font-size: 22px;
  color: white;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: rgb(212, 95, 52);
  transform: scale(1.2);
}
